<main [style.width]="winSize.x+'px'" [style.height]="winSize.y+'px'">

  <div class="header">
    <div class="header-character">
      <span>
      DIEGO CASALOTTO
      </span>
      <span>
      DESARROLLADOR FULL STACK
      </span>
      <span>
      Datos Cabecera
      </span>
    </div>
  </div>
  @if (isWindow()){
  <div class="body-rooms" [style.transform]="'scale(' + mapScale + ')'">
    <div [ngStyle]="getStyle(1)">
      <room-about (eventRoom)="roomLoaded($event)" ></room-about>
    </div>
    <div [ngStyle]="getStyle(2)">
      <room-contact (eventRoom)="roomLoaded($event)"></room-contact>
    </div>
  </div>

    @if (rooms.length == maxRooms) {
      <div>
        <button class="btn-movement btn-up" [class.hidden]="!side.up.button" (click)="changeRoom(side.up.targetId)"> </button>
        <button class="btn-movement btn-down" [class.hidden]="!side.down.button" (click)="changeRoom(side.down.targetId)"> </button>
        <button class="btn-movement btn-left" [class.hidden]="!side.left.button" (click)="changeRoom(side.left.targetId)"> </button>
        <button class="btn-movement btn-right" [class.hidden]="!side.right.button" (click)="changeRoom(side.right.targetId)"> </button>
      </div>
    }
  }

</main>
